<h1>
  {{viewTitle}} 
</h1>


<form action="/employee" method="post" autocomplete="off">
  <label for="fullName">FullName</label>
  <input type="text" id="fullName" name="fullName" >
  <label for="email">Email</label>
<input type="text" id="email" name="email" >
<label for="phoneNumber">Phone Number</label>
<input type="text" id="phoneNumber" name="phoneNumber" minlength="10" maxlength="10"  >
<input type="submit" value="Submit">

</form>

<a href="employee/list">View All Employee</a>
